APP_SITE_TITLE=
APP_ENV=
APP_DEBUG=
APP_KEY=

DB_DRIVER=mysql
DB_HOST=localhost
DB_DATABASE=amsys
DB_USERNAME=amsys
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file

ADLDAP_SUFFIX=@example.org
ADLDAP_DC1=dc1.example.org
ADLDAP_BASEDN=DC=example,DC=org
